<nav role="navigation" class="navbar topnavbar md-whiteframe-glow-z1">
  <form name="header-form" ng-submit="submit()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3 class="md-button md-ink-ripple" ng-click="goToAdmin()" translate="LAYOUT_HEADER_TITLE">
        </h3>
        <span flex></span>
        <md-button href="{{privateDocUrl}}" ng-if="privateDocUrl.length>0"> {{ 'HEADER_DOCS_LINK_TEXT' | translate }}</md-button>
        <md-button ng-click="changeLanguage('zh')" ng-if="getLanguage()=='en'"> 简体中文
        </md-button>
        <md-button ng-click="changeLanguage('en')" ng-if="getLanguage()=='zh'"> English
        </md-button>

        <md-button aria-label="Administration" ui-sref="banshee.admin.team.project" ng-if="includes('banshee.metric')" translate="LAYOUT_HEADER_ADMIN_TEXT">
        </md-button>
        <md-button aria-label="Metric" ui-sref="banshee.metric" ng-if="includes('banshee.admin')" translate="LAYOUT_HEADER_METRIC_TEXT">
        </md-button>
      </div>
    </md-toolbar>
  </form>
</nav>
